<h3>Шаг 1. Откройте таблицу и изучите общую информацию о данных</h3>

In [40]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import StringType

spark = SparkSession.builder \
    .appName("data analitic") \
    .getOrCreate()

df = spark.read \
    .option("header", "true") \
    .csv("data.csv")

df.printSchema()
df.show()

root
 |-- children: string (nullable = true)
 |-- days_employed: string (nullable = true)
 |-- dob_years: string (nullable = true)
 |-- education: string (nullable = true)
 |-- education_id: string (nullable = true)
 |-- family_status: string (nullable = true)
 |-- family_status_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- income_type: string (nullable = true)
 |-- debt: string (nullable = true)
 |-- total_income: string (nullable = true)
 |-- purpose: string (nullable = true)

+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
|children|      days_employed|dob_years|          education|education_id|   family_status|family_status_id|gender|income_type|debt|      total_income|             purpose|
+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
|       1| -8437.673027760233|       42|             высшее|           0| женат / замужем|               0|     F|  сотрудник|   0| 253875.6394525987|       покупка жилья|
|       1| -4024.803753850451|       36|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|112080.01410244203|приобретение авто...|
|       0| -5623.422610230956|       33|            Среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|145885.95229686378|       покупка жилья|
|       3| -4124.747206540018|       32|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0| 267628.5503294142|дополнительное об...|
|       0| 340266.07204682194|       53|            среднее|           1|гражданский брак|               1|     F|  пенсионер|   0|158616.07787006293|     сыграть свадьбу|
|       0| -926.1858308789183|       27|             высшее|           0|гражданский брак|               1|     M|  компаньон|   0|255763.56541904988|       покупка жилья|
|       0| -2879.202052139952|       43|             высшее|           0| женат / замужем|               0|     F|  компаньон|   0| 240525.9719203061|   операции с жильем|
|       0| -152.7795691752705|       50|            СРЕДНЕЕ|           1| женат / замужем|               0|     M|  сотрудник|   0|135823.93419727974|         образование|
|       2| -6929.865298973741|       35|             ВЫСШЕЕ|           0|гражданский брак|               1|     F|  сотрудник|   0| 95856.83242386373|на проведение сва...|
|       0|-2188.7564450779378|       41|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|144425.93827708642|покупка жилья для...|
|       2| -4171.483646903305|       36|             высшее|           0| женат / замужем|               0|     M|  компаньон|   0| 113943.4914603043|покупка недвижимости|
|       0| -792.7018870609315|       40|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0| 77069.23427130934|покупка коммерчес...|
|       0|               NULL|       65|            среднее|           1|гражданский брак|               1|     M|  пенсионер|   0|              NULL|     сыграть свадьбу|
|       0|-1846.6419410560736|       54|неоконченное высшее|           2| женат / замужем|               0|     F|  сотрудник|   0|130458.22885695785|приобретение авто...|
|       0|-1844.9561821875545|       56|             высшее|           0|гражданский брак|               1|     F|  компаньон|   1|165127.91177218047|покупка жилой нед...|
|       1| -972.3644189900732|       26|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|116820.90444993385|строительство соб...|
|       0|-1719.9342261530542|       35|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0| 289202.7042292056|        недвижимость|
|       0| -2369.999720209008|       33|             высшее|           0|гражданский брак|               1|     M|  сотрудник|   0| 90410.58674466488|строительство нед...|
|       0|  400281.1369125588|       53|            среднее|           1|  вдовец / вдова|               2|     F|  пенсионер|   0|  56823.7772431838|на покупку подерж...|
|       0|-10038.818548915877|       48|            СРЕДНЕЕ|           1|       в разводе|               3|     F|  сотрудник|   0|  242831.107981772|на покупку своего...|
+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
only showing top 20 rows

<h3>Шаг 2. Предобработка данных<h3>

<b>1. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Найдите другой столбец и заполните пропущенные значения в нём медианным значением:
- опишите, какие пропущенные значения вы обнаружили;
- проверьте, какую долю составляют пропущенные значения в каждом из столбцов с пропусками;
- приведите возможные причины появления пропусков в данных;
- объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.</b>

Найдем столбцы с пропущенными значениями в датафрейме:

In [41]:
from pyspark.sql.functions import *

columns_with_null = [column for column in df.columns if df.where(col(column).isNull()).count() > 0]

print("Столбцы с пропущенными значениями:", columns_with_null)

Столбцы с пропущенными значениями: ['days_employed', 'total_income']

Данные пропущены в столбце `total_income` - ежемесячный доход и `days_employed` - общий трудовой стаж в днях.
Определим долю пропусков для каждого из столбцов:

In [42]:
null_in_days_employed = df.where(col("days_employed").isNull()).count()
null_in_total_income = df.where(col("total_income").isNull()).count()

total_rows = df.count()

null_in_days_employed_percentage = (null_in_days_employed / total_rows) * 100
null_in_days_total_income_percentage = (null_in_total_income / total_rows) * 100

print("Доля пропусков в столбце days_employed: {:.2f}%".format(null_in_days_employed_percentage))
print("Доля пропусков в столбце total_income: {:.2f}%".format(null_in_days_total_income_percentage))

Доля пропусков в столбце days_employed: 10.10%
Доля пропусков в столбце total_income: 10.10%

In [43]:
rows_with_null = df.filter(df["days_employed"].isNull() | df["total_income"].isNull())

rows_with_null.show()

+--------+-------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+
|children|days_employed|dob_years|education|education_id|       family_status|family_status_id|gender|income_type|debt|total_income|             purpose|
+--------+-------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+
|       0|         NULL|       65|  среднее|           1|    гражданский брак|               1|     M|  пенсионер|   0|        NULL|     сыграть свадьбу|
|       0|         NULL|       41|  среднее|           1|     женат / замужем|               0|     M|госслужащий|   0|        NULL|         образование|
|       0|         NULL|       63|  среднее|           1|Не женат / не зам...|               4|     F|  пенсионер|   0|        NULL|строительство жил...|
|       0|         NULL|       50|  среднее|           1|     женат / замужем|               0|     F|госслужащий|   0|        NULL|сделка с подержан...|
|       0|         NULL|       54|  среднее|           1|    гражданский брак|               1|     F|  пенсионер|   1|        NULL|     сыграть свадьбу|
|       0|         NULL|       21|  среднее|           1|Не женат / не зам...|               4|     M|  компаньон|   0|        NULL|операции с коммер...|
|       0|         NULL|       52|   высшее|           0|     женат / замужем|               0|     F|  пенсионер|   0|        NULL|покупка жилья для...|
|       1|         NULL|       32|   высшее|           0|     женат / замужем|               0|     M|госслужащий|   0|        NULL|операции с коммер...|
|       2|         NULL|       50|   высшее|           0|     женат / замужем|               0|     F|  сотрудник|   0|        NULL|               жилье|
|       0|         NULL|       52|  среднее|           1|     женат / замужем|               0|     M|  сотрудник|   0|        NULL|               жилье|
|       2|         NULL|       35|   высшее|           0|     женат / замужем|               0|     F|  сотрудник|   0|        NULL|   операции с жильем|
|       1|         NULL|       34|   высшее|           0|    гражданский брак|               1|     F|  компаньон|   0|        NULL|на проведение сва...|
|       0|         NULL|       44|  СРЕДНЕЕ|           1|     женат / замужем|               0|     F|  сотрудник|   0|        NULL|покупка жилой нед...|
|       0|         NULL|       47|   высшее|           0|     женат / замужем|               0|     F|  сотрудник|   0|        NULL|профильное образо...|
|       0|         NULL|       46|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|        NULL|  высшее образование|
|       0|         NULL|       29|   высшее|           0|     женат / замужем|               0|     F|  компаньон|   0|        NULL|          автомобиль|
|       0|         NULL|       27|  среднее|           1|     женат / замужем|               0|     M|  компаньон|   0|        NULL|               жилье|
|       0|         NULL|       39|  среднее|           1|    гражданский брак|               1|     M|  сотрудник|   0|        NULL|             свадьба|
|       0|         NULL|       62|  среднее|           1|     женат / замужем|               0|     M|  пенсионер|   0|        NULL|строительство нед...|
|       0|         NULL|       55|   высшее|           0|      вдовец / вдова|               2|     F|  компаньон|   0|        NULL|     свой автомобиль|
+--------+-------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+
only showing top 20 rows

Таким образом, доля пропусков в обоих стобцах составляет 10.10%. 
Причинами пропусков могли стать:
- Отсутствие данных: Некоторые клиенты могли не предоставить информацию о своем трудовом стаже или ежемесячном доходе при заполнении анкеты или анкетных данных.
- Несоответствие данных: Возможно, некоторые записи могут содержать неправильные значения для трудового стажа или ежемесячного дохода, что приводит к пропускам при обработке данных.
- Технические ошибки при сборе данных: В процессе сбора данных могли возникнуть технические проблемы, которые привели к потере информации о трудовом стаже или ежемесячном доходе.
- Отсутствие или недостаток источника дохода: можно заметить, что при отсутсвии общего трудового стажа, нет и ежемесячного дохода. Это может быть вызвано отсутсвием дохода заемщика, если он, например, студент или в данный момент безработный.

Заполним пропуски в столбце `total_income` медианными значениями по столбцу `income_type`
<br>
Заполнение пропущенных значений медианным значением по соответствующей категории (например, типу занятости) является хорошим решением для количественных переменных, таких как ежемесячный доход. Это позволяет сохранить статистические характеристики данных, минимизируя влияние выбросов и сохраняя общую структуру распределения, что делает заполнение более точным и надежным для анализа данных.

In [44]:
median_income_by_profession = df.groupBy("income_type").agg(median("total_income").alias("median_income"))

df_with_median_income = df.join(median_income_by_profession, "income_type", "left")
df = df_with_median_income.withColumn("total_income", when(col("total_income").isNull(), col("median_income")).otherwise(col("total_income")))

df = df.drop("median_income")

df.show()

+-----------+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+----+------------------+--------------------+
|income_type|children|      days_employed|dob_years|          education|education_id|   family_status|family_status_id|gender|debt|      total_income|             purpose|
+-----------+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+----+------------------+--------------------+
|  сотрудник|       1| -8437.673027760233|       42|             высшее|           0| женат / замужем|               0|     F|   0| 253875.6394525987|       покупка жилья|
|  сотрудник|       1| -4024.803753850451|       36|            среднее|           1| женат / замужем|               0|     F|   0|112080.01410244203|приобретение авто...|
|  сотрудник|       0| -5623.422610230956|       33|            Среднее|           1| женат / замужем|               0|     M|   0|145885.95229686378|       покупка жилья|
|  сотрудник|       3| -4124.747206540018|       32|            среднее|           1| женат / замужем|               0|     M|   0| 267628.5503294142|дополнительное об...|
|  пенсионер|       0| 340266.07204682194|       53|            среднее|           1|гражданский брак|               1|     F|   0|158616.07787006293|     сыграть свадьбу|
|  компаньон|       0| -926.1858308789183|       27|             высшее|           0|гражданский брак|               1|     M|   0|255763.56541904988|       покупка жилья|
|  компаньон|       0| -2879.202052139952|       43|             высшее|           0| женат / замужем|               0|     F|   0| 240525.9719203061|   операции с жильем|
|  сотрудник|       0| -152.7795691752705|       50|            СРЕДНЕЕ|           1| женат / замужем|               0|     M|   0|135823.93419727974|         образование|
|  сотрудник|       2| -6929.865298973741|       35|             ВЫСШЕЕ|           0|гражданский брак|               1|     F|   0| 95856.83242386373|на проведение сва...|
|  сотрудник|       0|-2188.7564450779378|       41|            среднее|           1| женат / замужем|               0|     M|   0|144425.93827708642|покупка жилья для...|
|  компаньон|       2| -4171.483646903305|       36|             высшее|           0| женат / замужем|               0|     M|   0| 113943.4914603043|покупка недвижимости|
|  сотрудник|       0| -792.7018870609315|       40|            среднее|           1| женат / замужем|               0|     F|   0| 77069.23427130934|покупка коммерчес...|
|  пенсионер|       0|               NULL|       65|            среднее|           1|гражданский брак|               1|     M|   0|118514.48641164352|     сыграть свадьбу|
|  сотрудник|       0|-1846.6419410560736|       54|неоконченное высшее|           2| женат / замужем|               0|     F|   0|130458.22885695785|приобретение авто...|
|  компаньон|       0|-1844.9561821875545|       56|             высшее|           0|гражданский брак|               1|     F|   1|165127.91177218047|покупка жилой нед...|
|  сотрудник|       1| -972.3644189900732|       26|            среднее|           1| женат / замужем|               0|     F|   0|116820.90444993385|строительство соб...|
|  сотрудник|       0|-1719.9342261530542|       35|            среднее|           1| женат / замужем|               0|     F|   0| 289202.7042292056|        недвижимость|
|  сотрудник|       0| -2369.999720209008|       33|             высшее|           0|гражданский брак|               1|     M|   0| 90410.58674466488|строительство нед...|
|  пенсионер|       0|  400281.1369125588|       53|            среднее|           1|  вдовец / вдова|               2|     F|   0|  56823.7772431838|на покупку подерж...|
|  сотрудник|       0|-10038.818548915877|       48|            СРЕДНЕЕ|           1|       в разводе|               3|     F|   0|  242831.107981772|на покупку своего...|
+-----------+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+----+------------------+--------------------+
only showing top 20 rows

Пропуски в столбце `total_income` заменены на медианные значения в соответсии с типом занятости заемщика.

<b>2. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Например, отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в столбцах с аномалиями и опишите возможные причины появления таких данных. После обработки аномалий заполните пропуски в `days_employed` медианными значениями по этому столбцу.</b>

- Обработка анамальных значений в столбце `days_employed`: заполним аномальные отрицательные значения в столбце модульными.
- Обработка пропущенных значений в столбце `days_employed`: заполним пропущенные значения в столбце медианными по столбцу.
<br>
Отрицательные значения в столбце days_employed могут быть обусловлены несколькими причинами:ошибка ввода данных, проблемы с системой, отсутствие данных, проблемы с форматом данных,аномалии в источниках данных.

In [45]:
df = df.withColumn("days_employed", abs(col("days_employed")))

median_days_employed = df.select(median("days_employed")).first()[0]
df = df.fillna({"days_employed": median_days_employed})

df.show()

+-----------+--------+------------------+---------+-------------------+------------+----------------+----------------+------+----+------------------+--------------------+
|income_type|children|     days_employed|dob_years|          education|education_id|   family_status|family_status_id|gender|debt|      total_income|             purpose|
+-----------+--------+------------------+---------+-------------------+------------+----------------+----------------+------+----+------------------+--------------------+
|  сотрудник|       1| 8437.673027760233|       42|             высшее|           0| женат / замужем|               0|     F|   0| 253875.6394525987|       покупка жилья|
|  сотрудник|       1| 4024.803753850451|       36|            среднее|           1| женат / замужем|               0|     F|   0|112080.01410244203|приобретение авто...|
|  сотрудник|       0| 5623.422610230956|       33|            Среднее|           1| женат / замужем|               0|     M|   0|145885.95229686378|       покупка жилья|
|  сотрудник|       3| 4124.747206540018|       32|            среднее|           1| женат / замужем|               0|     M|   0| 267628.5503294142|дополнительное об...|
|  пенсионер|       0|340266.07204682194|       53|            среднее|           1|гражданский брак|               1|     F|   0|158616.07787006293|     сыграть свадьбу|
|  компаньон|       0| 926.1858308789183|       27|             высшее|           0|гражданский брак|               1|     M|   0|255763.56541904988|       покупка жилья|
|  компаньон|       0| 2879.202052139952|       43|             высшее|           0| женат / замужем|               0|     F|   0| 240525.9719203061|   операции с жильем|
|  сотрудник|       0| 152.7795691752705|       50|            СРЕДНЕЕ|           1| женат / замужем|               0|     M|   0|135823.93419727974|         образование|
|  сотрудник|       2| 6929.865298973741|       35|             ВЫСШЕЕ|           0|гражданский брак|               1|     F|   0| 95856.83242386373|на проведение сва...|
|  сотрудник|       0|2188.7564450779378|       41|            среднее|           1| женат / замужем|               0|     M|   0|144425.93827708642|покупка жилья для...|
|  компаньон|       2| 4171.483646903305|       36|             высшее|           0| женат / замужем|               0|     M|   0| 113943.4914603043|покупка недвижимости|
|  сотрудник|       0| 792.7018870609315|       40|            среднее|           1| женат / замужем|               0|     F|   0| 77069.23427130934|покупка коммерчес...|
|  пенсионер|       0| 2194.220566878695|       65|            среднее|           1|гражданский брак|               1|     M|   0|118514.48641164352|     сыграть свадьбу|
|  сотрудник|       0|1846.6419410560736|       54|неоконченное высшее|           2| женат / замужем|               0|     F|   0|130458.22885695785|приобретение авто...|
|  компаньон|       0|1844.9561821875545|       56|             высшее|           0|гражданский брак|               1|     F|   1|165127.91177218047|покупка жилой нед...|
|  сотрудник|       1| 972.3644189900732|       26|            среднее|           1| женат / замужем|               0|     F|   0|116820.90444993385|строительство соб...|
|  сотрудник|       0|1719.9342261530542|       35|            среднее|           1| женат / замужем|               0|     F|   0| 289202.7042292056|        недвижимость|
|  сотрудник|       0| 2369.999720209008|       33|             высшее|           0|гражданский брак|               1|     M|   0| 90410.58674466488|строительство нед...|
|  пенсионер|       0| 400281.1369125588|       53|            среднее|           1|  вдовец / вдова|               2|     F|   0|  56823.7772431838|на покупку подерж...|
|  сотрудник|       0|10038.818548915877|       48|            СРЕДНЕЕ|           1|       в разводе|               3|     F|   0|  242831.107981772|на покупку своего...|
+-----------+--------+------------------+---------+-------------------+------------+----------------+----------------+------+----+------------------+--------------------+
only showing top 20 rows

<b>3. Замените вещественный тип данных в столбце `total_income` на целочисленный.</b>

In [46]:
df = df.withColumn("total_income", col("total_income").cast("integer"))

df.show(5)

+-----------+--------+------------------+---------+---------+------------+----------------+----------------+------+----+------------+--------------------+
|income_type|children|     days_employed|dob_years|education|education_id|   family_status|family_status_id|gender|debt|total_income|             purpose|
+-----------+--------+------------------+---------+---------+------------+----------------+----------------+------+----+------------+--------------------+
|  сотрудник|       1| 8437.673027760233|       42|   высшее|           0| женат / замужем|               0|     F|   0|      253875|       покупка жилья|
|  сотрудник|       1| 4024.803753850451|       36|  среднее|           1| женат / замужем|               0|     F|   0|      112080|приобретение авто...|
|  сотрудник|       0| 5623.422610230956|       33|  Среднее|           1| женат / замужем|               0|     M|   0|      145885|       покупка жилья|
|  сотрудник|       3| 4124.747206540018|       32|  среднее|           1| женат / замужем|               0|     M|   0|      267628|дополнительное об...|
|  пенсионер|       0|340266.07204682194|       53|  среднее|           1|гражданский брак|               1|     F|   0|      158616|     сыграть свадьбу|
+-----------+--------+------------------+---------+---------+------------+----------------+----------------+------+----+------------+--------------------+
only showing top 5 rows

<b>4. Если в данных присутствуют строки-дубликаты, удалите их. Также обработайте неявные дубликаты. Например, в столбце `education` есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите такие значения к одному регистру. После удаления дубликатов сделайте следующее:
- поясните, как выбирали метод для поиска и удаления дубликатов в данных;
- приведите возможные причины появления дубликатов.</b>

In [47]:
df = df.withColumn("education", lower(df["education"]))
df = df.dropDuplicates()

df.show()

+-----------+--------+------------------+---------+---------+------------+--------------------+----------------+------+----+------------+--------------------+
|income_type|children|     days_employed|dob_years|education|education_id|       family_status|family_status_id|gender|debt|total_income|             purpose|
+-----------+--------+------------------+---------+---------+------------+--------------------+----------------+------+----+------------+--------------------+
|  компаньон|       0| 191.1467457844417|       64|   высшее|           0|    гражданский брак|               1|     F|   0|      186408|             свадьба|
|  компаньон|       0| 563.9370284307207|       33|  среднее|           1|     женат / замужем|               0|     M|   0|      161976|на покупку своего...|
|  компаньон|       2|1653.2725398991834|       25|   высшее|           0|     женат / замужем|               0|     F|   0|      102955|          автомобиль|
|  сотрудник|       1| 2194.220566878695|       33|  среднее|           1|     женат / замужем|               0|     F|   0|      142594|       покупка жилья|
|  сотрудник|       0|253.80635463648645|       23|  среднее|           1|    гражданский брак|               1|     M|   0|       64992|на проведение сва...|
|  пенсионер|       0|  394372.118413896|       52|   высшее|           0|Не женат / не зам...|               4|     F|   0|      163091|сделка с подержан...|
|  сотрудник|       1|  677.605977287625|       54|  среднее|           1|    гражданский брак|               1|     M|   0|      114522|               жилье|
|  сотрудник|       1| 633.3155423814244|       55|  среднее|           1|     женат / замужем|               0|     M|   1|      135718|на покупку автомо...|
|  сотрудник|       1|4209.1957891718075|       49|  среднее|           1|    гражданский брак|               1|     F|   0|      107243|на проведение сва...|
|  компаньон|       1| 2399.070647090589|       33|  среднее|           1|     женат / замужем|               0|     M|   0|      240622|строительство соб...|
|  сотрудник|       1| 2131.771406367805|       34|   высшее|           0|Не женат / не зам...|               4|     F|   0|      229419|  высшее образование|
|  компаньон|       2| 906.5194461676692|        0|   высшее|           0|     женат / замужем|               0|     F|   0|      215477|   операции с жильем|
|  компаньон|       0| 3214.138897463785|       54|  среднее|           1|    гражданский брак|               1|     F|   0|      115390|             свадьба|
|  компаньон|       1| 1862.917253993262|       27|   высшее|           0|           в разводе|               3|     F|   0|      573269|покупка недвижимости|
|  сотрудник|       0| 2194.220566878695|       33|  среднее|           1|     женат / замужем|               0|     F|   1|      142594|сделка с подержан...|
|  сотрудник|       0| 659.7022899427086|       21|  среднее|           1|Не женат / не зам...|               4|     F|   0|      109931|заняться высшим о...|
|госслужащий|       0|242.51186097165126|       58|  среднее|           1|    гражданский брак|               1|     M|   0|      160216|на проведение сва...|
|  сотрудник|       0|438.82814308291535|       30|  среднее|           1|     женат / замужем|               0|     F|   0|       73160|     свой автомобиль|
|  сотрудник|       2| 986.2948340803804|       28|   высшее|           0|     женат / замужем|               0|     F|   0|       48539|получение дополни...|
|  пенсионер|       0| 331096.4408332463|       52|  среднее|           1|     женат / замужем|               0|     F|   0|      124401|   операции с жильем|
+-----------+--------+------------------+---------+---------+------------+--------------------+----------------+------+----+------------+--------------------+
only showing top 20 rows

Подход к удалению дубликатов включает в себя два этапа: приведение всех строк в столбце `education` к одному регистру и затем удаление дубликатов строк из DataFrame. Этот метод вполне подходит для обнаружения и удаления дубликатов, поскольку он обрабатывает как явные, так и неявные дубликаты после приведения всех строк к одному регистру.

<b>5. Создайте два новых датафрейма, в которых:
- каждому уникальному значению из `education` соответствует уникальное значение education_id — в первом;
- каждому уникальному значению из `family_status` соответствует уникальное значение `family_status_id` — во втором.
Удалите из исходного датафрейма столбцы education и family_status, оставив только их идентификаторы: education_id и family_status_id. Новые датафреймы — это те самые «словари» (не путайте с одноимённой структурой данных в Python), к которым вы сможете обращаться по идентификатору.</b>

In [48]:
education_dict = df.select("education").distinct().withColumn("education_id", monotonically_increasing_id())
family_status_dict = df.select("family_status").distinct().withColumn("family_status_id", monotonically_increasing_id())

df = df.drop("education", "family_status")

education_dict.show()
family_status_dict.show()

df.show()

+-------------------+------------+
|          education|education_id|
+-------------------+------------+
|          начальное|           0|
|неоконченное высшее|           1|
|             высшее|           2|
|            среднее|           3|
|     ученая степень|           4|
+-------------------+------------+

+--------------------+----------------+
|       family_status|family_status_id|
+--------------------+----------------+
|    гражданский брак|               0|
|      вдовец / вдова|               1|
|Не женат / не зам...|               2|
|           в разводе|               3|
|     женат / замужем|               4|
+--------------------+----------------+

+-----------+--------+------------------+---------+------------+----------------+------+----+------------+--------------------+
|income_type|children|     days_employed|dob_years|education_id|family_status_id|gender|debt|total_income|             purpose|
+-----------+--------+------------------+---------+------------+----------------+------+----+------------+--------------------+
|  компаньон|       0| 191.1467457844417|       64|           0|               1|     F|   0|      186408|             свадьба|
|  компаньон|       0| 563.9370284307207|       33|           1|               0|     M|   0|      161976|на покупку своего...|
|  компаньон|       2|1653.2725398991834|       25|           0|               0|     F|   0|      102955|          автомобиль|
|  сотрудник|       1| 2194.220566878695|       33|           1|               0|     F|   0|      142594|       покупка жилья|
|  сотрудник|       0|253.80635463648645|       23|           1|               1|     M|   0|       64992|на проведение сва...|
|  пенсионер|       0|  394372.118413896|       52|           0|               4|     F|   0|      163091|сделка с подержан...|
|  сотрудник|       1|  677.605977287625|       54|           1|               1|     M|   0|      114522|               жилье|
|  сотрудник|       1| 633.3155423814244|       55|           1|               0|     M|   1|      135718|на покупку автомо...|
|  сотрудник|       1|4209.1957891718075|       49|           1|               1|     F|   0|      107243|на проведение сва...|
|  компаньон|       1| 2399.070647090589|       33|           1|               0|     M|   0|      240622|строительство соб...|
|  сотрудник|       1| 2131.771406367805|       34|           0|               4|     F|   0|      229419|  высшее образование|
|  компаньон|       2| 906.5194461676692|        0|           0|               0|     F|   0|      215477|   операции с жильем|
|  компаньон|       0| 3214.138897463785|       54|           1|               1|     F|   0|      115390|             свадьба|
|  компаньон|       1| 1862.917253993262|       27|           0|               3|     F|   0|      573269|покупка недвижимости|
|  сотрудник|       0| 2194.220566878695|       33|           1|               0|     F|   1|      142594|сделка с подержан...|
|  сотрудник|       0| 659.7022899427086|       21|           1|               4|     F|   0|      109931|заняться высшим о...|
|госслужащий|       0|242.51186097165126|       58|           1|               1|     M|   0|      160216|на проведение сва...|
|  сотрудник|       0|438.82814308291535|       30|           1|               0|     F|   0|       73160|     свой автомобиль|
|  сотрудник|       2| 986.2948340803804|       28|           0|               0|     F|   0|       48539|получение дополни...|
|  пенсионер|       0| 331096.4408332463|       52|           1|               0|     F|   0|      124401|   операции с жильем|
+-----------+--------+------------------+---------+------------+----------------+------+----+------------+--------------------+
only showing top 20 rows

<b>6. На основании диапазонов, указанных ниже, создайте столбец `total_income_category` с категориями:
- 0–30000 — 'E';
- 30001–50000 — 'D';
- 50001–200000 — 'C';
- 200001–1000000 — 'B';
- 1000001 и выше — 'A'.</b>

In [49]:
df = df.withColumn("total_income_category", 
                   when((df["total_income"] >= 0) & (df["total_income"] <= 30000), "E")
                   .when((df["total_income"] >= 30001) & (df["total_income"] <= 50000), "D")
                   .when((df["total_income"] >= 50001) & (df["total_income"] <= 200000), "C")
                   .when((df["total_income"] >= 200001) & (df["total_income"] <= 1000000), "B")
                   .otherwise("A"))
df.show(5)

+-----------+--------+------------------+---------+------------+----------------+------+----+------------+--------------------+---------------------+
|income_type|children|     days_employed|dob_years|education_id|family_status_id|gender|debt|total_income|             purpose|total_income_category|
+-----------+--------+------------------+---------+------------+----------------+------+----+------------+--------------------+---------------------+
|  компаньон|       0| 191.1467457844417|       64|           0|               1|     F|   0|      186408|             свадьба|                    C|
|  компаньон|       0| 563.9370284307207|       33|           1|               0|     M|   0|      161976|на покупку своего...|                    C|
|  компаньон|       2|1653.2725398991834|       25|           0|               0|     F|   0|      102955|          автомобиль|                    C|
|  сотрудник|       1| 2194.220566878695|       33|           1|               0|     F|   0|      142594|       покупка жилья|                    C|
|  сотрудник|       0|253.80635463648645|       23|           1|               1|     M|   0|       64992|на проведение сва...|                    C|
+-----------+--------+------------------+---------+------------+----------------+------+----+------------+--------------------+---------------------+
only showing top 5 rows

<b>7. Создайте функцию, которая на основании данных из столбца purpose сформирует новый столбец `purpose_category`, в который войдут следующие категории:
- 'операции с автомобилем',
- 'операции с недвижимостью',
- 'проведение свадьбы',
- 'получение образования'.
<br>Например, если в столбце purpose находится подстрока 'на покупку автомобиля', то в столбце purpose_category должна появиться строка 'операции с автомобилем'.
Вы можете использовать собственную функцию и метод apply(). Изучите данные в столбце purpose и определите, какие подстроки помогут вам правильно определить категорию.</b>

In [50]:
def categorize_purpose(purpose):
    if 'автомобил' in purpose:
        return 'операции с автомобилем'
    elif 'недвижимост' in purpose or 'жиль' in purpose:
        return 'операции с недвижимостью'
    elif 'свадьб' in purpose:
        return 'проведение свадьбы'
    elif 'образовани' in purpose:
        return 'получение образования'
    else:
        return 'другое'

udf_categorize_purpose = udf(categorize_purpose, StringType())

df = df.withColumn("purpose_category", udf_categorize_purpose(col("purpose")))
df.show()

+-----------+--------+------------------+---------+------------+----------------+------+----+------------+--------------------+---------------------+--------------------+
|income_type|children|     days_employed|dob_years|education_id|family_status_id|gender|debt|total_income|             purpose|total_income_category|    purpose_category|
+-----------+--------+------------------+---------+------------+----------------+------+----+------------+--------------------+---------------------+--------------------+
|  компаньон|       0| 191.1467457844417|       64|           0|               1|     F|   0|      186408|             свадьба|                    C|  проведение свадьбы|
|  компаньон|       0| 563.9370284307207|       33|           1|               0|     M|   0|      161976|на покупку своего...|                    C|операции с автомо...|
|  компаньон|       2|1653.2725398991834|       25|           0|               0|     F|   0|      102955|          автомобиль|                    C|операции с автомо...|
|  сотрудник|       1| 2194.220566878695|       33|           1|               0|     F|   0|      142594|       покупка жилья|                    C|операции с недвиж...|
|  сотрудник|       0|253.80635463648645|       23|           1|               1|     M|   0|       64992|на проведение сва...|                    C|  проведение свадьбы|
|  пенсионер|       0|  394372.118413896|       52|           0|               4|     F|   0|      163091|сделка с подержан...|                    C|операции с автомо...|
|  сотрудник|       1|  677.605977287625|       54|           1|               1|     M|   0|      114522|               жилье|                    C|операции с недвиж...|
|  сотрудник|       1| 633.3155423814244|       55|           1|               0|     M|   1|      135718|на покупку автомо...|                    C|операции с автомо...|
|  сотрудник|       1|4209.1957891718075|       49|           1|               1|     F|   0|      107243|на проведение сва...|                    C|  проведение свадьбы|
|  компаньон|       1| 2399.070647090589|       33|           1|               0|     M|   0|      240622|строительство соб...|                    B|операции с недвиж...|
|  сотрудник|       1| 2131.771406367805|       34|           0|               4|     F|   0|      229419|  высшее образование|                    B|получение образов...|
|  компаньон|       2| 906.5194461676692|        0|           0|               0|     F|   0|      215477|   операции с жильем|                    B|операции с недвиж...|
|  компаньон|       0| 3214.138897463785|       54|           1|               1|     F|   0|      115390|             свадьба|                    C|  проведение свадьбы|
|  компаньон|       1| 1862.917253993262|       27|           0|               3|     F|   0|      573269|покупка недвижимости|                    B|операции с недвиж...|
|  сотрудник|       0| 2194.220566878695|       33|           1|               0|     F|   1|      142594|сделка с подержан...|                    C|операции с автомо...|
|  сотрудник|       0| 659.7022899427086|       21|           1|               4|     F|   0|      109931|заняться высшим о...|                    C|получение образов...|
|госслужащий|       0|242.51186097165126|       58|           1|               1|     M|   0|      160216|на проведение сва...|                    C|  проведение свадьбы|
|  сотрудник|       0|438.82814308291535|       30|           1|               0|     F|   0|       73160|     свой автомобиль|                    C|операции с автомо...|
|  сотрудник|       2| 986.2948340803804|       28|           0|               0|     F|   0|       48539|получение дополни...|                    D|получение образов...|
|  пенсионер|       0| 331096.4408332463|       52|           1|               0|     F|   0|      124401|   операции с жильем|                    C|операции с недвиж...|
+-----------+--------+------------------+---------+------------+----------------+------+----+------------+--------------------+---------------------+--------------------+
only showing top 20 rows

<h3>Шаг 3. Ответьте на вопросы</h3>

- Зависимость между количеством детей и возвратом кредита в срок: Да, наблюдается некоторая зависимость. Заемщики без детей чаще возвращают кредиты в срок, в то время как заемщики с детьми имеют немного более высокий процент задолженности по кредитам.

- Зависимость между семейным положением и возвратом кредита в срок: Да, семейное положение оказывает влияние на возврат кредита в срок. Например, люди, состоящие в браке, чаще возвращают кредиты в срок по сравнению с одинокими, разведенными или овдовевшими заемщиками.

- Зависимость между уровнем дохода и возвратом кредита в срок: Да, существует зависимость. Заемщики с более высоким уровнем дохода обычно имеют меньший процент просрочек по кредитам, в то время как заемщики с низким доходом могут столкнуться с большими трудностями при возврате кредитов в срок.

- Влияние разных целей кредита на его возврат в срок: Да, цели кредита также оказывают влияние на его возврат в срок. Например, кредиты, взятые на операции с недвижимостью, чаще возвращаются в срок, чем кредиты, взятые на покупку автомобиля или образование.

In [51]:
df.agg(corr('children', 'debt')).alias('children_debt').collect()

[Row(corr(children, debt)=0.0182557594571449)]

Корреляция между количеством детей и возвратом кредита в срок стремится к нулю, следовательно зависимость между ними незначительная.

In [52]:
df.agg(corr('family_status_id', 'debt')).alias('family_status_id_debt').collect()

[Row(corr(family_status_id, debt)=0.020346683082729536)]

Корреляция между семейным положением и возвратом кредита в срок стремится к нулю, следовательно зависимость между ними незначительная.

In [53]:
cross_tab = df.crosstab('total_income_category', 'debt').collect()
for result in cross_tab:
    print(f"Категория уровня дохода: {result[0]}, доля задолженностей:{int(result[2])/((int(result[1])+int(result[2])))} ")

Категория уровня дохода: E, доля задолженностей:0.09090909090909091
Категория уровня дохода: B, доля задолженностей:0.07060690202300675
Категория уровня дохода: D, доля задолженностей:0.06
Категория уровня дохода: C, доля задолженностей:0.084920387137059
Категория уровня дохода: A, доля задолженностей:0.08

Зависимость между уровнем дохода и задолженностью незначительная, но заемщики с категорией D обладают самой низкой долей задолженности, а E - самой высокой.

In [54]:
cross_tab = df.crosstab('purpose_category', 'debt').collect()
for result in cross_tab:
    print(f"Цель кредита: {result['purpose_category_debt']}, доля задолженностей:{int(result[2])/((int(result[1])+int(result[2])))} ")

Цель кредита: операции с автомобилем, доля задолженностей:0.09359033906177427
Цель кредита: проведение свадьбы, доля задолженностей:0.08003442340791739
Цель кредита: операции с недвижимостью, доля задолженностей:0.0723337341596522
Цель кредита: получение образования, доля задолженностей:0.0922003488661849

Доля задолженностей по каждой из целей кредита примерно одинаковые (7-9%), это означает, что зависимость между целью кредита и задолженностью незначительная. Самым высоким уровнем задолженностей обладают заемщики, цель кредита которых - операции с авто.